.img{
    margin-top: 15%;
    margin-left: -210px;
}

.email {
    margin-left: 10%;
    margin-top: 0%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    border: 0px;
    width: 80%;
    background-color: #D9D9D9;
    padding: 15px;
    opacity: 0.67;
    font-size: 20px;
}

.password {
    margin-left: 10%;
    margin-top: 6%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    border: 0px;
    width: 80%;
    background-color: #D9D9D9;
    padding: 15px;
    opacity: 0.67;
    font-size: 20px;
}

.rem {
    margin-left: 11%;
    margin-top: 5%;
}

.label {
    margin-left: 2%;
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    opacity: 0.5;
}

.login {
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 6px;
    border: 0px;
    width: 80%;
    background-color: #ff9422;
    padding: 10px;
    color: #F4F2E9;
    font-weight: bold;
}

.text {
    font-size: 400%;
    font-weight: bolder;
    margin-top: 100%;
}

.text1 {
    font-size: 200%;
    font-weight: bolder;
    margin-top: -10%;
}

.forget {
    text-align: center;
    margin-top: 8%;
    font-size: 12px;
}

.signup {
    text-align: center;
    margin-top: 3%;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color:#000000;
}

.box {
    width: 60%;
    border: 0px;
    border-radius: 15px;
    background-color: orange;
    margin: 20px;
    padding: 3px;
    text-align: center;
    color: white;
    font-weight: bolder;
}