<body>
    <div class = "corner"></div>
    <img src = "/assets/images/image2.png">
    <div class = "voice">Voice</div>
    <div class = "note">Note</div>
    <div class = "teacher">{{route_to}}</div>

    <div>
        <input class = "email" type = "email" placeholder = "Email" [(ngModel)]="signinForm.email" required>
        <input class = "password" type = "password" placeholder = "Password" [(ngModel)]="signinForm.password" required>
        <input class = "checkbox" type = "checkbox"><p class = "rem">Remember me</p>
    </div>

    <button (click) = "submitSignin()">Log In</button>

    <p class = "forgot"><u>Forgot Password?</u></p>
    <div class = "text">Don't have an account? <p class = "signup" (click) = "redirect_signup()"><u>Sign up</u></p></div>
</body>