body {
    background-color: #0B1B66;
}

.corner {
    width: 100%;
    height: 100vh;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    background-color: #FFFFFF;
}

img {
    position: absolute;
    width: 50vh;
    left: -25vh;
    top: 10vh;
}

.voice {
    position: absolute;
    font-size: 21vw;
    font-weight: bolder;
    color: #0B1B66;
    top: 20vh;
    right: 5vh;
}

.note {
    position: absolute;
    font-size: 21vw;
    font-weight: bolder;
    color: #0B1B66;
    top: 32vh;
    right: 5vh;
}

.who {
    position: absolute;
    font-size: 6vw;
    color: #FFFFFF;
    background-color: #E8963F;
    top: 48vh;
    right: 5vh;
    padding: 2%;
    border: 0px;
    border-radius: 15px;
}

.email {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    top: 60vh;
    background-color: #D9D9D9;
    opacity: 0.67;
    padding: 3%;
    border: 0px;
    border-radius: 15px;
}

.password {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    top: 68vh;
    background-color: #D9D9D9;
    opacity: 0.67;
    padding: 3%;
    border: 0px;
    border-radius: 15px;
}

.checkbox {
    position: absolute;
    top: 76vh;
    left: 12vw;
    background-color: #000000;
}

.rem {
    position: absolute;
    top: 75.2vh;
    left: 17vw;
}

button {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    background-color: #E8963F;
    top: 80vh;
    padding: 3%;
    border: 0px;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: bold;
}

.forgot {
    position: absolute;
    font-size: 3vw;
    top: 88vh;
    right: 0;
    left: 0;
    text-align: center;
}

.text {
    position: absolute;
    display: inline-block;
    font-size: 4vw;
    top: 91vh;
    right: 0;
    left: 0;
    text-align: center;
    color: #0B1B66;
}

.signup {
    display: inline-block;
}