.bg-color {
    background-color: #FFFFFF;
    height: 100vh;
}

.r1 {
    height: 160px;
    width: 100vw;
    background-color: #0B1B66;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.r2 {
    height: 140px;
    width: 100vw;
    background-color: #0B1B66;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    bottom: 0;
}

.bt-color {
    background-color: #E8963F;
}

.bt-size {
    width: 80%;
}

.f-size {
    font-size: 25px;
}

.m-top {
    margin-top: 80px;
    margin-left: 40px;
    font-size: 30px;
}

.top1 {
    z-index: 1;
    top: 20px;
    right: 170px;
}

.top2 {
    z-index: 1;
    top: 20px;
    right: 80px;
}

.top3 {
    z-index: 1;
    top: 20px;
    right: 10px;
}

.spacer {
    height: 160px;
}