<div class="top">
    <svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.1274 2L0 14.1274L12.1274 26.2548L15.1321 23.25L6.0095 14.1274L15.1321 5.00475L12.1274 2Z"
            fill="white" />
    </svg>
    <p class="subject">Mathematics</p>
</div>

<div class='text'>
    <p *ngFor="let message of displayList">{{message}}</p>
    <div class="spacer"></div>
</div>

<div class="bottom">
    <!-- <button type="button" id='btn-transcribe' class="btn btn-primary btn-lg my-3"
        onclick="changeButton()">Start</button> -->
    <div class="row"> <button type="button" id='btn-transcribe' class="start" (click)="start()"><i class='bx bx-pause bx-lg'
                ></i>
        </button>
        <button type="button" id='btn-reset' class="finish" (click)="openStopModal()">Finish</button>
    </div>

</div>

<!--creating stop modal-->
<div class="modal fade" id="stop_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="stop()" class="btn btn-primary">End</button>
            </div>
        </div>
    </div>
</div>