<div class="bg-color">
    <div class="container-fuild">
        <div class="row r1 position-fixed ms-0">
            <p class="m-top">Hi</p>
        </div>
        <div class="container">
            <div class='text mt-2'>
                <p *ngFor="let message of displayList">{{message}}</p>
            </div>
        </div>
        <div class="row r2 position-fixed ms-0">
            <div class="col-6">
                <div class="text-center mt-5">
                    <button *ngIf="!isSpeak" type="button" id='btn-transcribe' class="bt-color bt-size border-0 rounded-3 p-2 ps-3 pe-3 ms-2" (click)="start()"><img src="/assets/images/speak1.png"></button>
                    <button *ngIf="isSpeak" type="button" id='btn-transcribe' class="bt-color bt-size border-0 rounded-3 p-2 ps-3 pe-3 ms-2" (click)="speak_stop()"><img src="/assets/images/speak2.png"></button>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center mt-5">
                    <button type="button" id='btn-reset' class="bt-size border-0 rounded-3 p-2 ps-3 pe-3 me-2 f-size" (click)="openStopModal()">Finish</button>
                </div>
            </div>
        </div>
    </div>
     <!--creating stop modal-->
    <div class="modal fade" id="stop_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="redirectCourse()"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="stop()" class="btn btn-primary"  data-bs-dismiss="modal" (click)="redirectCourse()">End</button>
                </div>
            </div>
        </div>
    </div>
</div>