<div class="container-fluid page-container">
    <div class="row bg p-4 top-radius">
        <div class="col-5">
            <p class="text1 mb-1">Create an</p>
            <p class="text1">Account</p>
        </div>
    </div>

  <div class="form">
    <input
      type="name"
      class="name"
      placeholder="Name"
      required
      [(ngModel)]="signupForm.username"
    />
    <input
      type="email"
      class="email"
      placeholder="Email"
      required
      [(ngModel)]="signupForm.email"
    />
    <input
      type="password"
      class="password"
      placeholder="Password"
      required
      [(ngModel)]="signupForm.password"
    />
    <input
      type="date"
      class="date"
      placeholder="DD/MM/YY"
      required
      [(ngModel)]="signupForm.dob"
    />
  </div>

  <button (click)="Register()">Sign up</button>

  <div class="policy">
    By clicking Sign up you agree to our
    <a class="TandC" herf="https://www.google.com/">Terms and Conditions</a> and
    <a class="TandC" href="https://www.youtube.com/">Privacy Statement</a>
  </div>

  <div class="text">
    Already have an account?
    <p class="signin" (click)="redirectSignin()">Sign in</p>
  </div>
</div>
