.text1 {
    color: white;
    font-size: 2rem;
}

.text2{
    color: red;
}

.text3 {
    color: red;
}

.row-bg {
    background-color: orange;
}

.bottom-radius {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.size {
    width: 150px;
}

.bgcolor {
    background-color: #D9D9D9;
    opacity: 0.67;
}

.bgcolor2 {
    background-color: #E8963F;
}

.margintop {
    margin-top: 3rem;
}