.text1 {
    color: white;
    font-size: 2rem;
}

.text2{
    color: #0B1B66;
}

.text3 {
    color: #0B1B66;
}

.row-bg {
    background-color:#0B1B66;
}

.bottom-radius {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.size {
    width: 150px;
}

.bgcolor {
    background-color: #D9D9D9;
    opacity: 0.67;
}

.bgcolor2 {
    background-color: #E8963F;
}

.margintop {
    margin-top: 3rem;
}

.margintop2 {
    position: fixed;
    bottom: 0;
}

.container-fiuld{
    background-color: #ffffff;
    height: 110vh !important;
}

.bg-white {
    height: 100vh;
}