<div class="container">
    <div class="row row-bg bottom-radius">
        <div class="col-12">
            <div class="mt-1 p-3 ms-2">
                <p class="mb-0 text1">Terms and Condition</p>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="bg-white">
        <p>haloooo</p>
        <li>Coffee</li>
        <li>Tea
          <ul>
            <li>Black tea</li>
            <li>Green tea</li>
          </ul>
        </li>
        <li>Milk</li>
    </div>
</div>