<div class="container">
    <div class="row row-bg bottom-radius">
        <div class="col-12">
            <div class="mt-1 p-3 ms-2">
                <p class="mb-0 text1">Terms and Condition</p>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="bg-white">
        <h2><u><b>Personal Data</b></u></h2>
        <li>In this Data Protection Policy, “Personal Data” means any information pertaining to a natural person, which enables the identification of such person, whether directly or indirectly but does not include the specific information of the decreased. </li>
        <li>Examples of such Personal Data you may provide to us include (depending on the nature of your interaction with us) your name or other identification number, telephone number(s), mailing address, email address, network data and any other information relating to any individuals which you have provided us in any forms you may have submitted to us, or via other forms of interaction with you.</li>
        <h2><u><b>Data collection</b></u></h2>
        <li>Voice note may collect your personal data in several different way. Please be careful when submitting information to us as some of our services are automated and we may not recognize that you have accidentally provided us with incorrect or sensitive information</li>
        <li>Whenever you interact with Voice note, you may or may be asked to provide us your Personal Data, For account creation, Voice Note may ask for a range of information such as date of birth, your personal email, username and password.</li>
        <li>If you provide us with any Personal Data relating to a third party (e.g. information of your spouse, children, parents, and/or employees), by submitting such Personal Data to us, you represent to us that you have obtained the consent of the third party to provide us with their Personal Data for the purposes as listed below.</li>
        <li>You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure on your part to do so may result in our inability to provide you with the products and services you have requested.</li>
        <h2><u><b>Purpose of Collection, Use and Disclosure of Your Personal Data</b></u></h2>
        <ul>Generally, Voice Note collects, uses and discloses your Personal Data for the following purposes
          <li>legal purpose</li>
          <li>Keeping track of number of users</li>
          <li>Keeping track of activity of users</li>
        </ul>
        <h2><u><b>Disclosing and Transferring Personal Data</b></u></h2>
        <ul>•	Voice Note will take appropriate and commercially reasonable technical, physical, and administrative measures to protect any Personal Data it possesses or controls from misuse or accidental, unlawful or unauthorized destruction, loss, alteration, disclosure, acquisition or access in accordance with the Act. Subject to the provisions of any applicable law, your Personal Data may be disclosed, for the purposes listed above (where applicable) to the following:
          <li>relevant government regulators, statutory boards or authorities or law enforcement agencies to comply with any laws, rules, guidelines and regulations or schemes imposed by any governmental authority.</li>
          <li></li>
        </ul>
        <h2><u><b>Personal Data</b></u></h2>
    </div>
</div>
