<!-- Username and logout -->
<div>
    <h2  id="course_student">Classes</h2>
    <a style="text-decoration: none;" class="course_logout" (click)="logout()" routerLink="/"
        routerLinkActive="active">Logout</a>
    <div class="course_info" type="button" (click)="openUserInfoModal()">
        Info
    </div>
</div>
<br>

<div class="course_box2">box</div>

<!-- add button -->
<div type="button" (click)="openAddCourse()" class="create_box">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" width="30" height="30" viewBox="0 0 401.994 401.994"
         style="enable-background:new 0 0 401.994 401.994;" xml:space="preserve">
        <g>
            <path
                d="M394,154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414
    		C242.488,2.666,236.02,0,228.398,0h-54.812c-7.612,0-14.084,2.663-19.414,7.993c-5.33,5.33-7.994,11.803-7.994,19.414v118.775
    		H27.407c-7.611,0-14.084,2.664-19.414,7.994S0,165.973,0,173.589v54.819c0,7.618,2.662,14.086,7.992,19.411
    		c5.33,5.332,11.803,7.994,19.414,7.994h118.771V374.59c0,7.611,2.664,14.089,7.994,19.417c5.33,5.325,11.802,7.987,19.414,7.987
    		h54.816c7.617,0,14.086-2.662,19.417-7.987c5.332-5.331,7.994-11.806,7.994-19.417V255.813h118.77
    		c7.618,0,14.089-2.662,19.417-7.994c5.329-5.325,7.994-11.793,7.994-19.411v-54.819C401.991,165.973,399.332,159.502,394,154.175z" />
        </g>
    </svg>
</div>


<input class="form-control" id="course_searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" Search ">


<!-- course rows -->
<ng-template [ngIf]="courses">
    <div style="padding-bottom: 10px; text-align: center;" *ngFor="let course of courses | filter:searchText">
        <a routerLink="/note/{{course['id']}}" routerLinkActive="active" style="text-decoration: none;">
            <div class="course_box">
                <div id="course_box_subject" class="card-title" style="margin-right: 15px;">{{course["courseName"]}}</div>
            </div>
            <ng-template [ngIf]="course.isLive != 0">
                <div style="display: inline-block; margin-left: 50px;">live</div>
            </ng-template>
        </a>
        <a routerLink="/history/{{course['id']}}" routerLinkActive="active" style="text-decoration: none;">
            <div class="card-text">History</div>
        </a>
        <div (click)="openDeleteModal(course.id)" style="position: absolute; left: 350px;">
            <svg width="30" height="30" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 791.908 791.908"
                class="bin" xml:space="preserve">
                <g>
                    <path d="M648.587,99.881H509.156C500.276,43.486,452.761,0,394.444,0S287.696,43.486,279.731,99.881H142.315
                                            c-26.733,0-48.43,21.789-48.43,48.43v49.437c0,24.719,17.761,44.493,41.564,47.423V727.64c0,35.613,28.655,64.268,64.268,64.268
                                            h392.475c35.613,0,64.268-28.655,64.268-64.268V246.087c23.711-3.937,41.564-23.711,41.564-47.423v-49.437
                                            C697.017,121.67,675.228,99.881,648.587,99.881z M394.444,36.62c38.543,0,70.219,26.733,77.085,63.261H316.351
                                            C324.225,64.268,355.901,36.62,394.444,36.62z M618.924,728.739c0,14.831-11.901,27.648-27.648,27.648H198.71
                                            c-14.831,0-27.648-11.901-27.648-27.648V247.185h446.948v481.554H618.924z M660.397,197.748c0,6.958-4.944,11.902-11.902,11.902
                                            H142.223c-6.958,0-11.902-4.944-11.902-11.902v-49.437c0-6.958,4.944-11.902,11.902-11.902h505.265
                                            c6.958,0,11.901,4.944,11.901,11.902v49.437H660.397z M253.09,661.45V349.081c0-9.887,7.873-17.761,17.761-17.761
                                            s17.761,7.873,17.761,17.761V661.45c0,9.887-7.873,17.761-17.761,17.761C260.964,680.309,253.09,671.337,253.09,661.45z
                                            M378.606,661.45V349.081c0-9.887,7.873-17.761,17.761-17.761c9.887,0,17.761,7.873,17.761,17.761V661.45
                                            c0,9.887-7.873,17.761-17.761,17.761C386.57,680.309,378.606,671.337,378.606,661.45z M504.212,661.45V349.081
                                            c0-9.887,7.873-17.761,17.761-17.761s17.761,7.873,17.761,17.761V661.45c0,9.887-7.873,17.761-17.761,17.761
                                            C513.093,680.309,504.212,671.337,504.212,661.45z" />
                </g>
            </svg>
        </div>
    </div>
</ng-template>


<!--creating form modal-->
<div class="modal fade" id="addcourse_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <input placeholder="code" id="code" style="width: 90%; margin: 5% ;" class="form-control" type="text">
            <button type="button" class="btn btn-primary" style="width: 90%; margin: 5%; background-color: #E8963F;" data-bs-dismiss="modal"
                (click)="add()">Join</button>
        </div>
    </div>
</div>
<!--INFO modal-->
<div class="modal fade" id="userinfo_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="position: absolute; right: 1vh; top: 20vh; background-color: #0B1B66;">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; right: 5%; top: 5%;"></button>
            <div id="student_info">
                <ul>Username: abcdefdg</ul>
                <ul>Data of Birth: 2022/04/33</ul>
                <ul>E-mail: managabachi@gmai.com</ul>
            </div>
        </div>
    </div>
</div>

<!--creating delte modal-->
<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" 
                style="position: absolute; right: 5%; top: 5%;" aria-label="Close"></button>
            <div placeholder="Name" id="name" style="height: 20vh; width: 80%; margin: auto; text-align: left;" class="form-control"
                type="text">Are you sure want to delete this course?</div>
            <button type="button" class="btn btn-primary" id="create_button" style="background-color: #E8963F; width: 80%; margin: auto; margin-bottom: 3vh;" data-bs-dismiss="modal"
                (click)="delete(true)">Delete</button>
        </div>
    </div>
</div>