.bg {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 100vh;
}

body {
    background-color: #0B1B66;
}

h1 {
    font-size: 75px;
    color: #0B1B66;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 1000;
}

p {
    font-size: 20px;
}


.spacer1 {
    height: 80px;
    background: transparent;
}

.spacer2 {
    height: 150px;
    background: transparent;
}