.bg-container {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 100vh !important;
}

h1 {
    font-size: 75px;
    color: #0B1B66;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 1000;
}

.text1 {
    font-size: 20px;
    color: #0B1B66;
    font-family: 'M PLUS Rounded 1c';
}


.spacer1 {
    height: 60px;
    background: transparent;
}

.spacer2 {
    height: 130px;
    background: transparent;
}

.orange {
    background-color: #E8963F;
    color: white;
}

.brown {
    background-color: #594835;
    color: white;
}

.marginteacher {
    margin-top: 4rem;
}

.marginstudent {
    margin-top: 2rem;
}

.paddingbutton {
    padding: 10px;
}