<!-- Username and logout -->
<div style=" margin-right: 8%; margin-top: 6%; text-align: right;">
    <h2>T. {{ username }}</h2>
    <a style="text-decoration: none;" (click)="logout()" routerLink="/authentication/landing" routerLinkActive="active">Logout</a>
</div>
<br>

<!-- create button -->
<div type="button" (click)="openFormModal()" class="create_box">
    create
</div>


<!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" Search "> -->


<!-- course rows -->
<div ng-if="courses_data != null">
    <div style="padding-bottom: 10px; text-align: center;" *ngFor="let course of courses" >
        <a routerLink="/speak" routerLinkActive="active" style="text-decoration: none;">
            <div class="course_box">
                <div class="card-title" style="margin-right: 15px;">{{course["courseName"]}}</div>
                <div class="card-text">Code: {{course["code"]}}</div>
            </div>
        </a>
    </div>
</div>


<!--creating form modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <input placeholder="Name" id="name" style="width: 90%; margin: 5% ;" class="form-control" type="text">
            <button type="button" class="btn btn-primary" style="width: 90%; margin: 5%;" data-bs-dismiss="modal"
                (click)="create()">Create</button>
        </div>
    </div>
</div>
