<form>
    <input type="email" placeholder="E-mail" id = "email" class = "email" required>
    <br>
    <input placeholder="password" id = "password" type="password" class = "password" required>
    <br>
    <input type="checkbox" id = "rem" name="rem" value = "rem" class = "rem">
    <label for="rem" class = "label">Remember me</label>
    <br>
    <button (click)="getinfo()" type ="button" class = "login">login</button>
</form>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">register here</a>