<body>
    <div class = "corner"></div>
    <img src = "/assets/images/image2.png">
    <div class = "voice">Voice</div>
    <div class = "note">Note</div>
    <div class = "note-taking">Note-Taking</div>
    <div class = "made-easy">made easy</div>
    <button class = "teacher" (click) = "redirect_teacher()">Teacher</button>
    <button class = "student" (click) = "redirect_student()">Student</button>
    <div class = "new">New here? <p class = "account" (click) = "redirect_signup()">Create an Account</p></div>
</body>