body {
    background-color: #0B1B66;
}

.corner {
    width: 100%;
    height: 100vh;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    background-color: #FFFFFF;
}

img {
    display: inline-block;
    position: absolute;
    width: 300px;
    left: -16vh;
    top: 10vh;
}

.voice {
    display: inline-block;
    position: absolute;
    font-size: 75px;
    font-weight: bolder;
    color: #0B1B66;
    top: 15vh;
    left: 10vh;
}

.note {
    display: inline-block;
    position: absolute;
    font-size: 75px;
    font-weight: bolder;
    color: #0B1B66;
    top: 23vh;
    left: 12vh;
}

.note-taking {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: #0B1B66;
    top: 34vh;
    left: 19vh;
}

.made-easy {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: #0B1B66;
    top: 37vh;
    left: 20vh;
}

.teacher {
    position: absolute;
    top: 60vh;
    width: 80%;
    margin-left: 10%;
    font-weight: bolder;
    color: white;
    background-color: #E8963F;
    border-radius: 15px;
    padding: 10px;
    border: 0px;
}

.student {
    position: absolute;
    top: 67vh;
    width: 80%;
    margin-left: 10%;
    font-weight: bolder;
    color: white;
    background-color: #594835;
    border-radius: 15px;
    padding: 10px;
    border: 0px;
}

.new-here {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    font-weight: bolder;
    color: #0B1B66;
    top: 80vh;
    left: 7vh;
}

// .create {
//     display: inline-block;
//     position: absolute;
//     font-size: 15px;
//     font-weight: bolder;
//     color: #0B1B66;
//     top: 80vh;
//     left: 20vh;
// }

.createtest {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    font-weight: bolder;
    color: #0B1B66;
    top: 80vh;
    left: 15vh;
}