body {
    background-color: #0B1B66;
}

.corner {
    display: inline-block;
    width: 1000px;
    height: 1050px;
    border-radius: 600px;
    margin-left: -500px;
    margin-top: -50px;
    background-color: #FFFFFF;
}

img {
    display: inline-block;
    width: 475px;
    margin-left: 255px;
    margin-top: 150px;
}

.voice {
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    color: #0B1B66;
    margin-left: -60px
}

.note {
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    color: #000000;
    margin-left: -100px;
    margin-bottom: 1000px;
}